
<div id="w-{{vm.widgetData.productCode}}">
    <div ng-if="vm.widgetData.widget.widgetDisplayStatus==1 || vm.widgetData.widget.widgetDisplayStatus==2">
    </div>
    <div ng-if="vm.widgetData.widget.widgetDisplayStatus==3">
        <a ng-click="vm.sizechart()" style="text-decoration: none">
            <span class="snf5342-template">Size Chart</span>
        </a>
    </div>
    <div ng-if="vm.widgetData.widget.widgetDisplayStatus==5 || vm.widgetData.widget.widgetDisplayStatus==4">
            <a ng-click="vm.sizechart()" style="text-decoration: none">
                <div class="snf5342-template">
                    <span style="text-transform: capitalize;">Size Chart&nbsp;-&nbsp;<span style="text-transform: lowercase;"><p style="display: table-cell;">{{vm.widgetData.user.profileName}},</p></span>
                    <span>Size&nbsp;{{vm.widgetData.widget.bestFit.size}}&nbsp;</span>
                    <span ng-if="vm.widgetData.widget.bestFit.ratingScore >= 3.5">
                      <img src="/fmfWidgetApp/images/Tick in Green.svg"></i>
                    </span>
                    <span ng-if="vm.widgetData.widget.bestFit.ratingScore < 3.5 &&                 vm.widgetData.widget.bestFit.ratingScore >= 1.5">
                       <img src="/fmfWidgetApp/images/Tick in Orange.svg"></img>
                    </span>
                    <span ng-if="vm.widgetData.widget.bestFit.ratingScore < 1.5">
                       <img src="/fmfWidgetApp/images/Tick in Grey.svg"></img>
                    </span>                  
                </div>
            </a>
    </div>
</div>
